@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager


<div class="margin-top-100"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main_grid_contact bg-light">
            <div class="form_div">
                <div class="login-page">
                    <div class="login_form">
                        <partial name="~/Views/Account/_Register.cshtml"/>
                        <partial name="~/Views/Account//_Login.cshtml"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->





@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
        $('.service').click(function (e) {
            e.preventDefault();
        })
    </script>
}
